#menu { 
    float: left; 
    width: 25%; 
    background-color: black; 
}

#menu img { 
    width: 35%; 
    margin: 5%; 
}

#principal { 
    float: left; 
    width: 75%; 
}

#imagenCentral { 
    width: 60%; 
    margin: 10%;
}

#imagenCentral img { 
    width: 100%;
    position: relative;
    top: -100px; 
    
}